* {
    font-family: 'B612', sans-serif;
    color: #403A41;
}

#title {
    margin-left: 0.1%;
    font-size: 22px;
    color: 	rgba(255, 255, 255, 0.9);
    z-index: 0;
}

#ita {
    font-size: 20px;
    font-style: italic;
    color: 	rgba(255, 255, 255, 0.9);
    z-index: 0;
}

body{
    background-color: #373F51;
}
.container {
    position: absolute;
    border-radius: 20px 10px 10px 100px;
    top: 0; right: 0; bottom: 0; left: 0;
    min-width: 900px;
    min-height: 500px;
    background-color: #CCFFFF;
    margin: 40px;
}

#sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #FFCCCC;
    border-radius: 10px 0px 0px 100px;
}

.separator {
    margin: auto;
    width: 70%;
    border-top: 1px solid grey;
    
}

#mainView {
    position: relative;
    float: right;
    width: 75%;
    height: 100%;
}

#chords {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 95%;
    margin: auto;
    height: 70%;
}

.cell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cellSep {
    width: 1%;
    height: 100%;
    background: black;
}



.measure {   
    width: auto;
    height: 20%;
}

#harmonicConnect {
    position: relative;;
    width: 100%;
    height: 30%;
    background-color: #008DD5;
    border-radius: 0px 0px 10px 0px;
}

#connectChords {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;

    width: 100%;
    height: 80%;
}

.sidebarColumn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    text-align: center;
}

#nextSongVis {
    height: 5%;
}

.btn:hover {
    color: white;
}

#playStopButtons{
    height: 20%;
}

#changeSongSettings {
    height: 35%;
}

#tempoSettings {
    height: 15%;
}

.btn {
    position: relative;
    margin: 20px 5%;
}

#playStopButtons {
    color: lightsalmon;
}

#songInfos {
    display: block;
}

#songTitle {
    color: teal;
}

#composer {
    color: teal;
}

.info {
    position: relative;
    width: 100%;
    height: 20%;
}


.selectedCell {
    border-radius: 10px;
    background-color: #FFCCCC;
}

#changeSongSettings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

.songBtn {
    width: 70%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 2px;
}

.songBtn:hover {
    background-color: blanchedalmond;
}

#tempoSettings {
    display: block;
}

.setting {
    position: relative;
    display: block;
    margin-left: 10%;
    width: auto;
    height: 50%
}