.container {
    position: absolute;
    border-radius: 20px;
    top: 0; right: 0; bottom: 0; left: 0;
    min-width: 900px;
    min-height: 500px;
    background-color: lightcyan;
    margin: 10px;
}

#sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: lightcoral;
}

#mainView {
    position: relative;
    float: right;
    width: 75%;
    height: 100%;
    background-color: lightgreen;
}

#chords {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;

    width: 100%;
    height: 70%;
    background-color: lightyellow;
}

#harmonicConnect {
    position: relative;;
    width: 100%;
    height: 30%;
    background-color: lightseagreen;
}

.sidebarColumn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.btn {
    position: relative;
    margin: 40px 5%;
}

#playStopButtons {
    background-color: lightgrey;
    color: lightsalmon;
}

#songInfos {
    display: block;
    background-color: lightskyblue;
}

.info {
    position: relative;
    width: 100%;
    height: 20%;
}


.selectedCell {
    background-color: lightsalmon;
}